* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: "Hack";
    font-size: 15px;
    border-color: #000000;
}


window#waybar {
    background-color: rgba(0,0,0,0);
    /* background-color:#000000; */
    /* border-bottom: 2px solid rgba(100, 114, 125, 0.5); */
    /* background-image: url("/home/twinklymeat/Downloads/waybarNixieBackground.png"); */
    color: #c7c7c7;
    transition-property: background-color;
    transition-duration: .5s;
    min-height: 10px;
    /* max-height: 40px; */
    margin-bottom: 0px;
    /* border-color: #aa759f; */
    /* border-bottom-width: 1px; */
    /* border-style:solid; */
    /* border-bottom-width: 10px; */
    /* background-position: 31px; */
    /* background-size:100%; */
    /* background-repeat:no-repeat; */

}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
    background-color: #1c1c1c;
}

window#waybar.chromium {
    background-color: #1c1c1c;
    /* border: none; */
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    /* box-shadow: inset 0px -2px #ef8b34,inset 0px 2px #ef8b34, inset 2px 0px #ef8b34,inset -2px 0px #ef8b34; */
    /* Avoid rounded borders under each button name */
    border: none;
    /* font-size: 2px; */
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 10px;
    /* background-position: 50%;
    background-size: contain;
    background-repeat:no-repeat; */
    border-radius: 5px;

}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    /* box-shadow: inset 0 -3px #ef8b34; */
    /* box-shadow: inset 0px -2px #ef8b34,inset 0px 2px #ef8b34, inset 2px 0px #ef8b34,inset -2px 0px #ef8b34; */
    /* background-image: url("/home/twinklymeat/Downloads/div01.png"); */
}

/* you can set a style on hover for any module like this */
#pulseaudio:hover {
    background-color: #21202E;
}

#workspaces button {
    padding-top: 1px;
    padding-bottom: 1px;
    margin-left: 2px;
    /* padding-left: 13px; */
    /* min-width: 36px; */
    /* background-image: url("/home/twinklymeat/Downloads/div01.png"); */
    background-color: #191724;
    color: #5a6b98;
    /* font-family: Hack; */
    /* border-top-width:  */
    /* font-size: 12px; */
    margin-top: 2px;
    /* margin-bottom: 2px; */
    margin-bottom: 2px;
    margin-right: -10px;
}



/* #workspaces button:hover { */
    /* background: #3c3c3c; */
    /* background-image: url("/home/twinklymeat/Downloads/div01.png"); */

/* } */

#workspaces button.special.active {
    color: #874861
}

#workspaces button.active {
    /* background-color: #1c1c1c; */
    color: #874861;
}

/* #workspaces button.active:hover {
    background: #3c3c3c;

} */

#workspaces button.urgent {
    /* background-color: rgba(235, 77, 75, .5); */
    color: #ac4242
}

#mode {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ef8b34;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd,
#custom-power,
/* #custom-rightCap,  */
/* #custom-leftCap, */
#custom-discord,
#pulseaudio,
#custom-cider, 
#custom-bluetooth {
    padding: 0px 8px;
    color: #c7c7c7;
    /* margin-left: -2px; */
    /* margin-right: -2px; */
    /* border-color: #ef8b34; */
    margin-top: 2px;
    border-top-width: 2px;
    background-color: #191724;
    /* border-radius: 5px; */
    margin-bottom: 2px;
}

/*Left side*/
/* #pulseaudio, */
#custom-leftCap {
    background-color: #1c1c1c;
    border-left-width: 2px;
    border-bottom-width: 2px;
    border-top-width: 2px;
    color: #c7c7c7;
    margin-top: 2px;
    margin-bottom: 4px;
    border-top-left-radius: 13px;
    border-bottom-left-radius: 13px;
    /* border-color: #ef8b34; */
    /* border-style: solid; */
}
/*Right Side*/
#custom-rightCap {
    background-color: #1c1c1c;
    border-top-right-radius: 13px;
        margin-top: 2px;
    margin-bottom: 4px;

    border-bottom-right-radius: 13px;
    border-right-width: 2px;
}
#window,
#workspaces {
    margin: 0 0px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    /* background-color: #1c1c1c; */
    color: #5a6b98;
    border-radius: 5px;
    /* border-style:solid; */
    /* border-right-width: 2px; */
    /* border-bottom-width: 2px; */
    /* border-left-width: 2px; */
    /* border-bottom-right-radius: 15px; */
    /* border-bottom-left-radius: 15px; */
}

#battery.full {
    /* background-color: #1c1c1c; */
    color: #6a9fb5;
    /* border-bottom-right-radius: 15px; */
}


#battery.charging, #battery.plugged {
    /* background-color: #1c1c1c; */
    color: #90a959;
}

#battery:hover {
    background-color: #21202E
;
}
@keyframes blink {
    to {
        background-color: #1c1c1c;
        color: #f4bf75;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: #ac4242;
    /* color: #ef8b34; */
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
#battery {
    color: #c7c7c7;
}

#power-profiles-daemon {
    padding-right: 10px;
}

#power-profiles-daemon.performance {
    /* background-color: #1c1c1c; */
    color: #874861;
    padding-left: 9px;
    padding-right: 8px;
}

#power-profiles-daemon.balanced {
    /* background-color: #1c1c1c; */
    color: #5a6b98;
    font-weight: bold;
    padding-left: 4px;
    padding-right: 13px;
}

#power-profiles-daemon.power-saver {
    /* background-color: #1c1c1c; */
    color: #90a959;
    font-weight: bold;
    padding-left: 5px;
    padding-right: 12px;
}

#power-profiles-daemon:hover {
    background-color: #21202E
;
}

label:focus {
    background-color: #000000;
}

#cpu {
    background-color: #1c1c1c;
    color: #ef8b34;
}

#memory {
    background-color: #1c1c1c;
    /* border-bottom-left-radius: 15px; */
    /* border-left-width: 2px; */
}

#disk {
    background-color: #1c1c1c;
}

#backlight {
    background-color: #1c1c1c;
}

/* #network { */
    /* background-color: #1c1c1c; */
    /* background-image: url("/home/twinklymeat/Downloads/wifiConnected.png"); */
    /* min-width: 320px; */
    /* background-position: 50%; */
    /* background-repeat: no-repeat; */
    /* background-size: auto; */
/* } */

#network.connected {
    background-color: #000000;
    color: #5a6b98
}

#network {
    color: #5a6b98;
    padding-bottom: 2px;
}

#network:hover {
    background-color: #21202E;
}

#network.disconnected {
    background-color: #1c1c1c;
}

#pulseaudio {
     /* background-color: #1c1c1c; */
    /* border-left-width: 2px; */
    color: #5a6b98;
    padding-bottom: 2px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    /* border-top-left-radius: 15px; */
    /* border-bottom-left-radius: px;  */
}

/* #pulseaudio.muted {
    background-color: #1c1c1c;
} */

#wireplumber {
    background-color: #1c1c1c;
    color: #ef8b34;
}

#wireplumber.muted {
    background-color: #aa759f;
}

#custom-media {
    background-color: #1c1c1c;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #1c1c1c;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#temperature {
    background-color: #1c1c1c;
}

#temperature.critical {
    background-color: #1c1c1c;
}

#tray {
    /* background-color: #1c1c1c; */
    color: #FDFD96;
    margin-left: 14px;
    border-radius: 5px;
    margin-right: 0px;
    /* margin-left: 4px; */
    border-bottom-right-radius: 5px;

}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#idle_inhibitor {
    background-color: #1c1c1c;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}

#mpd {
    background-color: #1c1c1c;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}

#language {
    background: #00b093;
    color: #740864;
    padding: 0 0px;
    margin: 0 0px;
    min-width: 16px;
}

#keyboard-state {
    background: #97e1ad;
    color: #000000;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
	background-color: transparent;
}

#privacy {
    padding: 0;
}

#privacy-item {
    padding: 0 5px;
    color: white;
}

#privacy-item.screenshare {
    background-color: #aa759f;
}

#privacy-item.audio-in {
    background-color: #90a959;
}

#privacy-item.audio-out {
    background-color: #6a9fb5;
}

#custom-power {
    font-weight: bold;
    font-size: 18px;
    color: #874861;
    margin-right: 2px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#custom-power:hover {
    background-color: #21202E;
}

#custom-discord {
    color:#7289DA;
    min-width: 30px;
}

#custom-rightCap,
#custom-leftCap {
    padding: 0 0px;
    min-width: 13px;
}

#custom-discord:hover {
    background-color: #3c3c3c;
}

#custom-cider {
    color:#ac4242;
    min-width: 30px;
    background-image: url("/home/twinklymeat/Pictures/ciderNBSOLID.png");
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 45%;
}
#custom-cider:hover {
    background-color: #3c3c3c;
}

#custom-bluetooth {
    color: #6a9fb5;
    font-size: 18;
}

#custom-bluetooth:hover {
    background-color: #2c2c2c;
}